In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Membuat SparkSession
spark = SparkSession.builder.master("local[1]")\
                    .appName('Pyspark job')\
                    .getOrCreate()

# Menampilkan versi PySpark
print('Pyspark Version : ' + spark.version)
print('Pyspark Version : ' + spark.sparkContext.version)

# Membuat RDD dari list
RDD1 = spark.sparkContext.parallelize(["One", "Two", "Three"])
print(type(RDD1))

RDD2 = RDD1.map(lambda x: x.lower())
print(RDD2.collect())

In [ ]:
RDD1 = spark.sparkContext.textFile("../context/data.txt")
RDD2 = RDD1.map(lambda x:x.lower())
print(RDD2.collect())

def my_custom_func(x):
    return x.lower()
    RDD = RDD1.map(my_custom_func)
    print(RDD2.collect())

RDD1 = spark.sparkContext.textFile("../context/data.txt")
RDD2 = RDD1.map(lambda x:x.split(" "))
print("RDD2: ",RDD2.collect())

RDD3 = RDD1.flatMap(lambda x:x.split(" "))
print("RDD3: ",RDD3.collect())

RDD4 = RDD1.map(lambda x:x)
print("RDD4: ",RDD4.collect())

RDD5 = RDD1.flatMap(lambda x:x)
print("RDD5: ",RDD5.collect())

In [ ]:
stopwords = ['is','am','are','the','for','a']
RDD1 = spark.sparkContext.parallelize(["I","am","a","student"])
RDD2 = RDD1.filter(lambda x:x not in stopwords)
print("RDD2:", RDD2.collect())

In [ ]:
sentence = spark.sparkContext.parallelize(["I like apple and apple"])
list_of_words = sentence.flatMap(lambda x:x.split(" "))
print("list of words :", list_of_words.collect())
key_val = list_of_words.map(lambda x: (x.lower(),1))
print("Key_val :",key_val.collect())
key_val_reduced = key_val.reduceByKey(lambda x,y: x+y)
print("key_val_reduced: ",key_val_reduced.collect())

In [ ]:
sorted = key_val_reduced.sortByKey()
print("sorted:", sorted.collect())

In [ ]:
words_lenght = list_of_words.map(lambda s: len(s))
print("Words lenght :",words_lenght.collect())
totallenght = words_lenght.reduce(lambda a,b : a+b)
print(totallenght)

In [ ]:
print("collect", list_of_words.collect())
print("take-2",sorted.collect())

In [ ]:
RDD1 = spark.sparkContext.textFile("../context/pridenprejudice.txt")
RDD2 = spark.sparkContext.textFile("../context/stopwords.txt")
# RDD2.collect()


list_of_words = RDD1.flatMap(lambda x:x.split(" "))
stopwords = set(RDD2.flatMap(lambda x: x.split()).map(lambda x: x.lower()).collect())

filtered_words = list_of_words.filter(lambda x: x.lower() not in stopwords)

# Menghitung frekuensi kata
word_counts = filtered_words.map(lambda x: (x.lower(), 1)).reduceByKey(lambda a, b: a + b)

# Sort
sorted = word_counts.sortByKey(ascending=True)

# Menampilkan hasil hitung frekuensi kata
print("Word counts:", sorted.collect())

words_lenght = filtered_words.map(lambda s: len(s))
totallenght = words_lenght.reduce(lambda a,b : a+b)
print("Total Huruf:",totallenght)

In [ ]:
import re

# Membaca file teks
RDD1 = spark.sparkContext.textFile("../context/pridenprejudice.txt")
RDD2 = spark.sparkContext.textFile("../context/stopwords.txt")

# Menghapus simbol dari teks dan membagi menjadi kata-kata
def clean_text(text):
    return re.sub(r"[^\w\s]", "", text)

list_of_words = RDD1.flatMap(lambda x: clean_text(x).split())

# Membaca stopwords
stopwords = set(RDD2.flatMap(lambda x: x.split()).map(lambda x: x.lower()).collect())

# Filter stopwords
filtered_words = list_of_words.filter(lambda x: x.lower() not in stopwords)

# Menghitung frekuensi kata
word_counts = filtered_words.map(lambda x: (x.lower(), 1)).reduceByKey(lambda a, b: a + b)

# Sort by frequency in descending order and take the top 10
top_10_words = word_counts.takeOrdered(10, key=lambda x: -x[1])

# Menampilkan 10 kata dengan frekuensi tertinggi
print("Top 10 words:", top_10_words)

# Menghitung total panjang huruf
words_length = filtered_words.map(lambda s: len(s))
total_length = words_length.reduce(lambda a, b: a + b)
print("Total Huruf:", total_length)

In [ ]:
list_of_words = RDD2.flatMap(lambda x:x.split(" "))
key_val = list_of_words.map(lambda x: (x.lower(),1))
key_val_reduced = key_val.reduceByKey(lambda x,y: x+y)


sorted = key_val_reduced.sortByKey(ascending=True)
top10 = sorted.take(10)
print("sorted:", sorted.collect())
print("sorted top10:", top10)

words_lenght = list_of_words.map(lambda s: len(s))
totallenght = words_lenght.reduce(lambda a,b : a+b)
print("Total Huruf:",totallenght)

In [ ]:
df_csv = spark.read.csv(f"../context/cars.csv",
  header=True,
  inferSchema=True,
  sep=";")

In [ ]:
df_csv.show()

In [ ]:
import time

# get the start time
st = time.time()

jumlahcar = df_csv.select("Model")
groupedcar = jumlahcar.groupBy("Model").count()
groupedcar.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
groupedcar.write.mode('overwrite').csv("../context/output_count_model")

In [ ]:
# top 10 lightest cars from US
import time

# get the start time
st = time.time()

top10lightcars = df_csv.select("Car","Weight")
ordercar = top10lightcars.orderBy("Weight", ascending=True)
top10lightcars = ordercar.limit(10)
top10lightcars.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# top 10 cars with the most MPG
import time

# get the start time
st = time.time()

top10mpg = df_csv.select("Car","MPG")
ordercar = top10mpg.orderBy("MPG", ascending=False)
top10mpg = ordercar.limit(10)
top10mpg.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# how many cars from each origin that comes in the 73
import time

# get the start time
st = time.time()
origincars = df_csv.select("Origin","Model")
oc = origincars.filter(origincars.Model == "73")
groupedcar = oc.groupBy("Origin","Model").count()
groupedcar.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# Top 10 most powerful cars horespower/weight ratio
import time

# get the start time
st = time.time()
ratio = (df_csv.Horsepower / df_csv.Weight)
top10powerful = df_csv.select("Car",ratio)
ordercar = top10powerful.orderBy(ratio, ascending=False)
top10powerful = ordercar.limit(10)
top10powerful.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# best acceleration on each cilinder class
import time

# get the start time
st = time.time()
accel = df_csv.select("Cylinders","Acceleration")
groupedcar = accel.groupBy("Cylinders").max("Acceleration")
groupedcar.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# best mpg one each displacement ckass(100cc,200cc,300cc,400cc)
from pyspark.sql.functions import when, col, max as spark_max
import time

# get the start time
st = time.time()
displacement = df_csv.select("Displacement","MPG")
categorized_displacement = displacement.withColumn(
    "DisplacementClass",
    when((col("Displacement") >= 100) & (col("Displacement") < 200), "100cc")
    .when((col("Displacement") >= 200) & (col("Displacement") < 300), "200cc")
    .when((col("Displacement") >= 300) & (col("Displacement") < 400), "300cc")
    .when((col("Displacement") >= 400) & (col("Displacement") < 500), "400cc")
    .otherwise("Other")
)
# Kelompokkan berdasarkan kelas displacement dan temukan nilai MPG maksimal di setiap kelas
grouped_displacement = categorized_displacement.groupBy("DisplacementClass").agg(spark_max("MPG").alias("MaxMPG"))

# Tampilkan hasilnya
grouped_displacement.show()
et = time.time()

elapsed_time = et - st
print('execution time', elapsed_time, 'seconds')

In [ ]:
# import fungsi concat(pengabungan kolom) dan lit(literal) 
from pyspark.sql.functions import concat, lit
df = df_csv.withColumn('car_model',concat(col("Car"), lit(" "), col("model")))
df.show(5,truncate=False)

In [ ]:
# Rename
from pyspark.sql.functions import lit
df = df_csv.withColumn('first_column', lit(1))\
           .withColumn('second_column', lit(2))\
           .withColumn('third_column', lit('third_column'))

df = df.withColumnRenamed('first_column', 'new_column_one')\
           .withColumnRenamed('second_column', 'new_column_two')\
           .withColumnRenamed('third_column', 'new_column_three')
df.show(truncate=5)

In [ ]:
# Count
df.groupBy('Origin').count().show(5)

In [ ]:
# Multiple count
df.groupBy('Origin','Model').count().show(5)

In [ ]:
# Sum
df.groupBy('Origin','Model').sum('MPG').show(5)

In [ ]:
# Filtering rows in Pyspark 
from pyspark.sql.functions import col

total_count = df.count()
print("Total Recourd Count :" + str(total_count))
europe_filtered_count = df.filter((col('Origin')=='Europe') & (col('Origin')>=100)).count() #Two condition added here
print("Europe Filtered Record Count: " + str(europe_filtered_count))
df.filter(col('Origin')=='Europe').show(truncate=False)

In [ ]:
# Get Unique Rows
df.select('Origin','Model').distinct().orderBy('Origin','Model').show()

In [ ]:
#  Union
df_csv = spark.read.csv('cars.csv',heafer=True,sep=";",inferschema=True)
europe_cars = df_csv.filter((col('Origin')=='Europe') & (col('Cylinders') ==5))
japan_cars = df_csv.filter((col('Origin')=='Japan') & (col('Cylinders') ==3))
print("Europe Cars: "+str(europe_cars.count()))
print("Japan Cars: "+str(japan.count()))
print("Union Cars: "+str(europe_cars.union(japan_cars).count()))

In [ ]:
df1 = spark.createDataFrame([[1,2,3]],["col0","col1","col2"])
df2 = spark.createDataFrame([[4,5,6]],["col2","col1","col0"])
df1.unionByName(df2).show()

In [ ]:
from pyspark.sql.functions import col
df = spark.read.csv('../context/cars.csv',header=True,sep=";",inferSchema=True)

In [ ]:
from pyspark.sql.functions import col,lower,upper,substring

# help(substring)
df.select(col('Car'),lower(col('Car'),upper(col('Car'),substring(col('Car'),1,4).alias("concatenated value")))).show(5,False)

In [ ]:
from pyspark.sql.functions import min,max
df.select(min(col('Weight'))

In [ ]:
from pyspark.sql.functions import date_add, date_sub , min, max
# create a dummy dataframe
df = spark.createDataFrame([('1990-01-01',),('1995-01-03',),('2021-03-30',)], ['Date'])
# find out the require data dates
df.select(date_add(max(col('Date')),3),date_sub(min(col('Date')),3)).show()

In [ ]:
cars_df = spark.createDataFrame([[1,'Car A'],[2,'Car B'],[3,'Car C']],["id","nama"])
cars_price_df = spark.createDataFrame([[1,1000],[2,2000],[3,3000],[5,5090]],["id","car_price"])
cars_df.show()
cars_price_df.show()

In [ ]:
# join
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'inner').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()
# cross
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'cross').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()
# left
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'left').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()
# right
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'right').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()
# full
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'full').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()
# outer
cars_df.join(cars_price_df,cars_df.id == cars_price_df.id,'outer').select(cars_df['id'],cars_df['nama'],cars_price_df['car_price']).show()

In [23]:
# Load Data CustomerOrders
df = spark.read.csv('../context/CustomerOrders.csv',header=True,sep=",",inferSchema=True)

# temp table
df.createOrReplaceTempView("temp")
# # select all data from temp table
# spark.sql("select * from temp limit 5").show()
# # select count of data in table
# spark.sql("select count(*) as total_count from temp").show()

In [28]:
# lakukan transformasi dari tabel temp
df_transformed = spark.sql('''
                select CustomerKey,
                CASE
                    WHEN Gender = 'F' AND MaritalStatus = 'M' THEN 'Miss.'
                    WHEN Gender = 'F' AND MaritalStatus = 'S' THEN 'Mrs.'
                    ELSE 'Mr.'
                END AS Toc,
                Concat(Toc,firstname,' ',lastname) as FullName,
                case MaritalStatus
                    when 'M' then 'Married'
                    else 'Single'
                end as MaritalStatus,
                case Gender
                    when 'M' then 'Male'
                    else 'Female'
                end as Gender,
                YearlyIncome,
                Education,
                Occupation,
                City,
                StateProvince,
                Country,
                NumberOfOrders,
                TotalQuantity,
                TotalAmount
                from temp limit 5''')
df_transformed.show()

# Simpan hasil transform ke temp_transform
# spark.sql("select * from temp limit 5").show()

+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+
|CustomerKey| Toc|            FullName|MaritalStatus|Gender|YearlyIncome|Education|  Occupation|       City|  StateProvince|  Country|NumberOfOrders|TotalQuantity|TotalAmount|
+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+
|      11000| Mr.|         Mr.Jon Yang|      Married|  Male| $90,000.00 |Bachelors|Professional|Rockhampton|     Queensland|Australia|             8|            8| $8,248.99 |
|      11001| Mr.|     Mr.Eugene Huang|       Single|  Male| $60,000.00 |Bachelors|Professional|    Seaford|       Victoria|Australia|            11|           11| $6,383.88 |
|      11002| Mr.|     Mr.Ruben Torres|      Married|  Male| $60,000.00 |Bachelors|Professional|     Hobart|       Tasmania|Australia|             4|            4| $8,114.04 |
|      11003|Mrs.|     Mrs.Christy Zhu|       Single|Female| $70,000.00 |Bachelors|Professional| North Ryde|New South Wales|Australia|             9|            9| $8,139.29 |
|      11004|Mrs.|Mrs.Elizabeth Joh...|       Single|Female| $80,000.00 |Bachelors|Professional| Wollongong|New South Wales|Australia|             6|            6| $8,196.01 |
+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+

In [ ]:
df_transformed = spark.sql('''select * , (Toc || fullname) as Full_Name
                from temp2 limit 5''')
df_transformed.show()
df_transformed.createOrReplaceTempView("temp3")

In [29]:
# df_transformed = spark.sql('''
#     SELECT *,
#         REGEXP_REPLACE(yearlyincome, '\\.00', '0') AS yearlyincome
#     FROM temp3
# ''')
# import fungsi sql yang diperukan seperti regex untuk menghapus simbol dan col untuk mengambil column
from pyspark.sql.functions import regexp_replace, col
df_transformed_2 = df_transformed.withColumn(
    "yearlyincome",
    regexp_replace(col("yearlyincome"), r"\$", "")  # Menghapus simbol dolar
).withColumn(
    "yearlyincome",
    regexp_replace(col("yearlyincome"), r",", "")  # Menghapus koma
).withColumn(
    "yearlyincome",
    regexp_replace(col("yearlyincome"), r"\.00", "")  # Menghapus .00
).withColumn(
    "yearlyincome",
    col("yearlyincome").cast("integer")  # Mengonversi kolom ke Integer
).withColumn(
    "monthly_income",
    col("Yearlyincome") / 12  # Menghitung monthly_income
)

df_transformed_2.show()

# simpan hasil regex dan perhitungan montly income ke temp_output
df_transformed_2.createOrReplaceTempView("temp_output")

+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+-----------------+
|CustomerKey| Toc|            FullName|MaritalStatus|Gender|yearlyincome|Education|  Occupation|       City|  StateProvince|  Country|NumberOfOrders|TotalQuantity|TotalAmount|   monthly_income|
+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+-----------------+
|      11000| Mr.|         Mr.Jon Yang|      Married|  Male|       90000|Bachelors|Professional|Rockhampton|     Queensland|Australia|             8|            8| $8,248.99 |           7500.0|
|      11001| Mr.|     Mr.Eugene Huang|       Single|  Male|       60000|Bachelors|Professional|    Seaford|       Victoria|Australia|            11|           11| $6,383.88 |           5000.0|
|      11002| Mr.|     Mr.Ruben Torres|      Married|  Male|       60000|Bachelors|Professional|     Hobart|       Tasmania|Australia|             4|            4| $8,114.04 |           5000.0|
|      11003|Mrs.|     Mrs.Christy Zhu|       Single|Female|       70000|Bachelors|Professional| North Ryde|New South Wales|Australia|             9|            9| $8,139.29 |5833.333333333333|
|      11004|Mrs.|Mrs.Elizabeth Joh...|       Single|Female|       80000|Bachelors|Professional| Wollongong|New South Wales|Australia|             6|            6| $8,196.01 |6666.666666666667|
+-----------+----+--------------------+-------------+------+------------+---------+------------+-----------+---------------+---------+--------------+-------------+-----------+-----------------+

In [ ]:
df_transformed = spark.sql('''
                            select * ,
                            (Yearlyincome/12) as montly_income 
                            from temp3
                            ''')
df_transformed.show()